<div>
    <div>
        <label for=""></label>
        <input type="text" [formControl]="taskField" (change)="addTask()">
    </div>
    <ul>
        @for (task of filteredTasks(); track $index) {
            <li [class.completed]="task.completed" (dblclick)="editTask($index)" [class.editing]="task.editing">
                @if(task.editing){
                    <input 
                        type="text" 
                        (keydown.enter)="updateTask(task)"
                        [formControl]="updateField"
                    >
                } @else {
                    <input type="checkbox" name="" id="" [checked]="task.completed" (change)="completeTask($index)">
                    <span>{{$index+1+'.'}} {{task.title}}</span>
                    <button (click)="deleteTask($index)">Remove</button>
                }
                
            </li>
        } @empty {
            <li>No tasks</li>
        }
    </ul>
    

    <div *ngIf="filteredTasks().length>0; else elseblock">
        <h6>valor json del signal</h6>
        <pre> {{ filteredTasks() | json }}</pre>
    </div>
    <ng-template #elseblock>
        <h6>No hay valores en la signal</h6>
    </ng-template>
</div>

<footer>
    <span>{{tasks().length}} </span>
    @if (tasks().length > 1) {
        <span>tasks</span>
    } @else {
        <span>task</span>
    }

    <div>
        <h3>Filter</h3>
        <div>
            <button (click)="changeFilter(TASK_FILTER.ALL)">All</button>
            <button (click)="changeFilter(TASK_FILTER.ACTIVE)">Active</button>
            <button (click)="changeFilter(TASK_FILTER.COMPLETED)">Completed</button>
        </div>
    </div>
</footer>

