<div>
    <div>
        <label for=""></label>
        <input type="text" (change)="addTask($event)">
    </div>
    <ul>
        @for (task of tasks(); track $index) {
            <li>
                <input type="checkbox" name="" id="" [checked]="task.completed" (change)="updateTask($index)">
                <span>{{$index+1+'.'}} {{task.title}}</span>
                <button (click)="deleteTask($index)">Remove</button>
            </li>
        } @empty {
            <li>No tasks</li>
        }
    </ul>
    

    <div *ngIf="tasks().length>0; else elseblock">
        <h6>valor json del signal</h6>
        <pre> {{ tasks() | json }}</pre>
    </div>
    <ng-template #elseblock>
        <h6>No hay valores en la signal</h6>
    </ng-template>
</div>

<footer>
    <span>{{tasks().length}} </span>
    @if (tasks().length > 1) {
        <span>tasks</span>
    } @else {
        <span>task</span>
    }
</footer>

