<div>
    <div>
        <label for=""></label>
        <input type="text" (change)="addTask($event)">
    </div>
    <ul>
        @for (task of tasks(); track $index) {
            <li>
                <input type="checkbox" name="" id="" [checked]="task.completed" (change)="updateTask($index)">
                <span>{{$index+1+'.'}} {{task.title}}</span>
                <button (click)="deleteTask($index)">Remove</button>
            </li>
        } @empty {
            <li>No tasks</li>
        }
    </ul>
    

    <div>
        <h6>valor json del signal</h6>
        <pre>{{tasks() | json}}</pre>
    </div>
</div>

<footer>
    <span>cantidad de tareas {{tasks().length}}</span>
</footer>

